html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

textarea, div#chord-names-div {
  font-family: Consolas;
  padding: 8px;
  line-spacing: 1.2em;
  white-space: pre;
  margin: 0;
  border: 0;
  padding: 8px;
  overflow-y: scroll;
  background-color: #f5f5f5;
}

div#chord-names-div span {
  outline: 4px solid #f0f;
  border-radius: 2px;
  background-color: #f0f;
}

div#rechorder-main-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 2fr 4fr 320px;
  grid-template-rows: 270px 30px 1fr 30px;
}

div#file-list {
  grid-column: 1;
  grid-row: 1 / span 3;
  padding: 0px;
  border-right: 1px solid #000;
  overflow: scroll;
  font-size: 13px;  
}
div#file-list a {
  display: block;
  padding: 4px 4px 4px 4px;
  color: #000;
  text-decoration: none;
}
div#file-list a:hover {
  background-color: #ccc;
}
div#file-list a.selected {
  background-color: #369;
  color: #fff;
}

div#chord-names {
  grid-column: 2;
  grid-row: 1 / span 3;
  border-right: 1px solid #000;
  font-size: 13px;
}
div#video-player {
  grid-column: 3;
  grid-row: 1;
  background-color: #f90;
}
div#button-wrapper {
  grid-column: 3;
  grid-row: 2;
}
div#button-wrapper fieldset {
float: left;
}

div#button-wrapper > input {
  float: right;
  height: 100%;
  
}

div#chord-times {
  grid-column: 3;
  grid-row: 3;
  background-color: #0ff;
  position: relative;
  overflow: scroll;
}
div#chord-times div#chord-times-scroller-content {  
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
  overflow: scroll;
}

div#chord-times div#chord-times-scroller-content textarea {
  background-color: #ff0;
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 3;
}

div#chord-times div#chord-times-scroller-content div.data-bars {
  position: absolute;
  z-index: 2;
  right: 0px;
  bottom: 0px;
  top: 0px;
  left: 0px;
  border: 1px solid #f0f;
}
div#chord-times div#chord-times-scroller-content div span {
  position: absolute;
  z-index: 5;
  right: 2px;
  width: 20px;
  height: 16px;
  background-color: #f0f;
}

input.file-path {
  font-size: 60%;
  width: 100%;
  background-color: #000;
  color: #0f0;
  border: 0;
  padding: 4px;
  margin: 0;
}